<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180032486130-tr428ctbt1gng9hlphh020p4p23v6bsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180032486130-tr428ctbt1gng9hlphh020p4p23v6bsh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>180032486130-uu58m817j0io5kdju53ffn58kgluagaf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCp0DplVodj_fMECiv4fgJE2WfwXPelhSs</string>
	<key>GCM_SENDER_ID</key>
	<string>180032486130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eternalenterprise.aidafine</string>
	<key>PROJECT_ID</key>
	<string>aidafine-eternalenterprise</string>
	<key>STORAGE_BUCKET</key>
	<string>aidafine-eternalenterprise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180032486130:ios:e6eddf88692d0e76e9ee6b</string>
</dict>
</plist>